.quiz {

  &__answer__container {
    min-height: 12rem;
  }

  &__answer {
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.5rem;
    margin-top: 0.5rem;
    user-select: none;
    outline: green;

    &:hover {
      box-shadow: 0 8px 15px -8px rgba(0, 0, 0, 0.61);
      border-color: green;
    }
  }

  &__selected_answer {
    @extend .quiz__answer;
    border-color: black;
    border-width: 2px;
  }
}

.quiz-outcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-family: Lora, serif;
}
